body {
	margin: 0px;
	padding: 0px;
	width: 600px;
	height: 417px;
	font-family: "Lucida Grande", Helvetica;
	font-size: 12px;
}
a {
    text-decoration: none;
}
td div {
	width: 130px;
	height:30px;
	background-color:#999;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
